
body {
    background-color: #ddd;
    font-size: 20px;
}
#content {
    max-width: 60%;
    margin: 40px auto;
    border: 1px solid darkgrey;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 1.3em;
}
hr {
    height: 3px;
    background-color: #035f9c;
    margin: 30px auto;
    width: 80%;
}
h1, h2, p {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    width: 50%;
}
#topics {
    width: 55%;
    margin: 0 auto;
    line-height: 1.5em;
}
.list {
    list-style-type: none;
}

.background{
    background-color: black;
}