body{
  background-color: #ddd;
  font-size: 20px;
}

#content{
    max-width: 60%;
    border: 1px solid grey;
    margin: 40px auto;
    padding: 50px;
}

p{
    color: #035f9c;
    font-size: 1.3em;
}

hr{
    height: 3px;
    background-color: #035f9c;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


h1, h2, p{
    text-align: center;
    
}

h2{
    text-decoration: underline;
}
#logos{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

img{
    width: 50%;
}

#topics{
    line-height: 1.5em;
    margin: 0 auto;
}

.list{
    list-style-type: none;
}